body {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
}

.tooltip {
    position: absolute;
    width: 200px;
    height: 48px;
    pointer-events: none;
    background-color: #ffffff;
}

.chernoff > * {
    fill: none;
    stroke: #000;
}

rect {
  fill: #fff;
}

rect.zoom {
  stroke: steelblue;
  fill-opacity: 0.5;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}